version: "3.9"

services:
  app:
    build:
      context: ./app
    container_name: devops-demo-app
    ports:
      - "8000:8000"

  prometheus:
    image: prom/prometheus:v2.52.0
    container_name: devops-demo-prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    depends_on:
      - app

  grafana:
    image: grafana/grafana:10.2.3
    container_name: devops-demo-grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
